@charset "UTF-8";
/* CSS Document */


.clearing {
clear: both;
}

#paver-style {
width: 200px;
height: 260px;
position: relative;
}

#paver-image {
width: 200px;
height: 200px;
position: relative;
top: 0;
left: 0;
}

#arrow-left {
width: 23px;
height: 45px;
position: relative;
top: 10px;
left: 70px;
background: url('../images/arrow-left2.png') no-repeat center;
}

#arrow-right {
width: 23px;
height: 45px;
position: relative;
top: -35px;
left: 110px;
background: url('../images/arrow-right2.png') no-repeat center;
}


#simplemodal-container a.modalCloseImg {
	background:url(../images/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

#simplemodal-overlay {
  background-color: black;
}

#simplemodal-container {
  width: 650px;
  height: 620px;
  color: #666;
  background-color: white;
  text-align: left;
  margin-top: 90px;
}

input#square_feet {
  text-align: left;
  color: #666;
  
}

#disclaimer {
	font-size: 0.7em;
	line-height: 120%;
	margin: 1.5em 0 1.5em 0;
	color: #666;
}
.paver-name {
	font-size: 2em;
	line-height: 120%;
	margin: 2em 0 4em 0;
}

.formfield {
border: 1px solid #7E8AA2;
border-bottom-left-radius: 3px 3px;
border-bottom-left-radius: 3px 3px;
border-bottom-right-radius: 3px 3px;
border-bottom-right-radius: 3px 3px;
border-top-left-radius: 3px 3px;
border-top-left-radius: 3px 3px;
border-top-right-radius: 3px 3px;
border-top-right-radius: 3px 3px;
font-family: inherit;
font-weight: 300;
font-size: 1em;
color: #666;
width: 214px;
padding: 2px;
}